### Aim :To implement SVM using python

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("Fish.csv")
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [3]:
df.shape

(159, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [5]:
df.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [6]:
df.isna().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [7]:
x = df.iloc[:,1:7]
y = df.iloc[:,0:1]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 20)

In [9]:
from sklearn.svm import SVC

In [10]:
svc = SVC(kernel='linear')

In [11]:
svc.fit(x_train,y_train)

SVC(kernel='linear')

In [12]:
y_pred = svc.predict(x_test)
y_pred = y_pred.reshape(-1,1)

In [13]:
y_test = y_test.to_numpy()

# Comparing Actual vs Predicted

In [14]:
pred_df = pd.DataFrame({"Actural":y_test.ravel(), "Predicted": y_pred.ravel()})
pred_df

      Actural Predicted
0       Smelt     Smelt
1   Whitefish     Roach
2       Perch     Perch
3       Perch     Perch
4        Pike      Pike
5       Bream     Bream
6       Perch     Perch
7        Pike      Pike
8   Whitefish     Roach
9       Perch     Perch
10      Perch     Perch
11      Bream     Bream
12      Roach     Perch
13      Perch     Perch
14      Roach     Roach
15      Perch     Perch
16      Perch     Perch
17      Bream     Bream
18      Bream     Bream
19      Perch     Perch
20      Perch     Perch
21      Bream     Bream
22      Smelt     Smelt
23      Perch     Perch
24      Perch     Perch
25       Pike      Pike
26      Roach     Roach
27      Perch     Perch
28     Parkki    Parkki
29      Perch     Perch
30      Perch     Perch
31      Bream     Bream

In [15]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test,y_pred)
confusion_matrix

array([[ 6,  0,  0,  0,  0,  0,  0],
       [ 0,  1,  0,  0,  0,  0,  0],
       [ 0,  0, 15,  0,  0,  0,  0],
       [ 0,  0,  0,  3,  0,  0,  0],
       [ 0,  0,  1,  0,  2,  0,  0],
       [ 0,  0,  0,  0,  0,  2,  0],
       [ 0,  0,  0,  0,  2,  0,  0]], dtype=int64)

In [16]:
from sklearn.metrics import classification_report