In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
import warnings 
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv("test.csv")
data.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,300000,0,0,1,T,Y,Blue,Triangle,Axolotl,Finland,...,9d117320c,3c49b42b8,2,Novice,Warm,j,P,be,5,11
1,300001,0,0,0,T,N,Red,Square,Lion,Canada,...,46ae3059c,285771075,1,Master,Lava Hot,l,A,RP,7,5
2,300002,1,0,1,F,Y,Blue,Square,Dog,China,...,b759e21f0,6f323c53f,2,Expert,Freezing,a,G,tP,1,12
3,300003,0,0,1,T,Y,Red,Star,Cat,China,...,0b6ec68ff,b5de3dcc4,1,Contributor,Lava Hot,b,Q,ke,2,3
4,300004,0,1,1,F,N,Red,Trapezoid,Dog,China,...,f91f3b1ee,967cfa9c9,3,Grandmaster,Lava Hot,l,W,qK,4,11

In [3]:
data.iloc[:,4:8]

       bin_3 bin_4  nom_0      nom_1
0          T     Y   Blue   Triangle
1          T     N    Red     Square
2          F     Y   Blue     Square
3          T     Y    Red       Star
4          F     N    Red  Trapezoid
...      ...   ...    ...        ...
199995     F     N  Green     Square
199996     F     Y  Green  Trapezoid
199997     T     Y  Green  Trapezoid
199998     T     Y   Blue       Star
199999     T     Y  Green       Star

[200000 rows x 4 columns]

In [4]:
from sklearn.model_selection import train_test_split
x_train,xtest,y_train,y_test=train_test_split(data.iloc[:,4:6],data.iloc[:,7:8],test_size=0.2)

In [5]:
x_train

       bin_3 bin_4
103123     T     Y
159326     T     Y
56415      F     Y
65062      F     Y
117529     T     Y
...      ...   ...
102562     F     N
142152     F     Y
59790      F     Y
111658     F     N
183814     T     Y

[160000 rows x 2 columns]

In [6]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder(categories=[['F','T'],['N','Y']])
oe.fit(x_train)

OrdinalEncoder(categories=[['F', 'T'], ['N', 'Y']])

In [7]:
x_train=oe.transform(x_train)

In [8]:
x_train

array([[1., 1.],
       [1., 1.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 0.],
       [1., 1.]])

In [10]:
oe.categories_

[array(['F', 'T'], dtype=object), array(['N', 'Y'], dtype=object)]

In [16]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(y_train)

LabelEncoder()

In [17]:
le.classes_

array(['Circle', 'Polygon', 'Square', 'Star', 'Trapezoid', 'Triangle'],
      dtype=object)

In [18]:
y_train=le.transform(y_train)
y_test=le.transform(y_test)

In [19]:
y_train

array([5, 2, 4, ..., 1, 3, 2])