In [16]:
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [18]:
data=sns.load_dataset("flights")

In [19]:
data.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [25]:
from pandas_profiling import ProfileReport
profile=ProfileReport(data)
profile.to_file(output_file="Discovery.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]